@import "../../styles/mixin";

.tag-item {
  display: inline-block;
  padding: 6px 14px;
  border-radius: 20px;
  background-color: #f2f3f7;
  color: #888;
  font-size: 13px;
  margin-right: 5px;
  margin-bottom: 5px;

  &.mini {
    padding: 3px 8px;
    font-size: 12px;
  }
}
