@import "../../less/mixin";

.tag-item {
  display: inline-block;
  padding: 6rpx 16rpx;
  border-radius: 640rpx;
  background-color: #f2f3f7;
  color: #999;
  .light-font();
  font-size: 24rpx;
  margin-right: 10rpx;
  margin-bottom: 10rpx;
}
