@import "../../styles/mixin";
@import "../../styles/hairline";

.panel {
  background-color: #fff;
  padding: 12px 15px;
  margin-bottom: 10px;
}

.panel-title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;

  > view {
    display: flex;
    justify-content: space-between;
  }
}

.panel-body {
  padding-top: 10px;
  padding-bottom: 10px;
}

.panel-footer {
  position: relative;
  padding-top: 12px;
  display: flex;
  justify-content: space-between;


  &:after {
    .hairline-top();
  }

  > view {
    display: flex;
    justify-content: space-between;
  }
}
