@import "../../less/mixin";

.panel {
  background-color: #fff;
  padding: 24rpx 30rpx;
  margin-bottom: 20rpx;
}

.panel-title {
  font-size: 30rpx;
  font-weight: bold;
  margin-bottom: 20rpx;

  > view {
    display: flex;
    justify-content: space-between;
  }
}

.panel-body {
  padding-top: 20rpx;
  padding-bottom: 20rpx;
}

.panel-footer {
  padding-top: 24rpx;
  border-top: 1rpx solid @color-border;

  > view {
    display: flex;
    justify-content: space-between;
  }
}
