@import "../../styles/mixin";
@import "../../styles/hairline";

.list-item {
  position: relative;
  .flex-v-center();
  padding: 12px 15px;
  background-color: #fff;

  &.bordered {
    &:after {
      .hairline-bottom(inherit, 15px, 15px);
    }
  }

  .list-item-bd {
    flex: 1;
  }

  .list-item-icon {
    margin-right: 8px;
  }

  &.enabled {
    &:active {
      background-color: @color-active;
    }
  }
}
