@import "../../styles/mixins/common";

.badge {
  min-width: 18px;
  height: 18px;
  padding-left: 5px;
  padding-right: 5px;
  color: #fff;
  font-size: 13px;
  line-height: 1;
  font-style: normal;
  font-weight: normal;
  border-radius: 18px;
  .flex-center();
}
