@import "../../styles/mixins/common";
@import "../../styles/mixins/hairline";

.tab-head {
  position: relative;
  .flex();
  background-color: #fff;

  &:after {
    .hairline-bottom();
  }
}

.tab-head-item {
  position: relative;
  flex: 1;
  text-align: center;
  z-index: 5;

  text {
    display: inline-block;
    padding: 15px 8px 12px;
    border-bottom: 3px solid transparent;
  }

  &.active {
    text {
      font-weight: bold;
      border-color: @gcolor;
    }
  }
}
