.toast {
  display: flex;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  word-break: break-all;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .7);

  &__container {
    top: 50%;
    left: 50%;
    max-width: 80%;
    position: fixed;
    // hack for avoid max-width when use left & fixed
    width: fit-content;
    transform: translate(-50%, -50%);
  }

  &--text {
    min-width: 80px;
    padding: 8px 12px;
  }

  &--icon {
    width: 80px;
    min-height: 80px;
    padding: 15px;

    .toast__icon {
      height: 1em;
      font-size: 50px;
    }

    .toast__text {
      font-size: 14px;
    }
  }

  &__loading {
    margin: 10px 0 5px;
  }

  &--top {
    transform: translate(0, -30vh);
  }

  &--bottom {
    transform: translate(0, 30vh);
  }
}
