@import "../../styles/mixins/common";

.icon {
  display: inline-block;
  line-height: 1;

  .iconfont {
    font-size: inherit;
    line-height: inherit;
  }

  .icon-img {
    width: 1em;
    height: 1em;
  }
}
