.keyframes (@name, @content) {
  @-webkit-keyframes @name {
    @content();
  }
  @keyframes @name {
    @content();
  }
}

.keyframes(slide-down, {
  from {
    -webkit-transform: translate3d(0, -100% ,0);
    transform: translate3d(0, -100% ,0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
});
