@gcolor: #08affe;
@lgcolor: #09c8fe;
@color-success: #5cb85c;
@color-info: #5bc0de;
@color-warning: #f0ad4e;
@color-danger: #d9534f;
@color-default: #e5e5e5;
@color-disabled: #ddd;
@color-active: #eee;
@color-border: #ccc;
@color-underline: #eee;
@large: 92rpx;
@normal: 80rpx;
@small: 56rpx;

.flex () {
  display: flex;
}

.inline-flex () {
  display: inline-flex;
}

.flex-center () {
  .flex();
  align-items: center;
  justify-content: center;
}

.inline-flex-center () {
  .inline-flex();
  align-items: center;
  justify-content: center;
}

.flex-h-center () {
  .flex();
  justify-content: center;
}

.flex-v-center () {
  .flex();
  align-items: center;
}

.marign-auto () {
  margin-left: auto;
  margin-right: auto;
}

.g-gradient (@offset: 50%) {
  background-image: -webkit-linear-gradient(left, @lgcolor, @gcolor @offset);
}

.g-darken-gradient (@offset: 50%) {
  background-image: -webkit-linear-gradient(left, lighten(@lgcolor, 5%), darken(@gcolor, 5%) @offset);
}
