@import "../../styles/mixin";

.icon-item {
  width: 100%;
  padding: 8px 8px 10px;
  text-align: center;
  white-space: nowrap;

  &:active {
    background-color: @color-active;
  }

  &.inline {
    display: inline-block;
  }

  > icon {
    margin-bottom: 3px;
  }
}
