@import "../../styles/mixin";

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.4);
  .flex-center();
  z-index: 1000;

  &.visible {
    display: flex;
  }

  &.hide {
    display: none;
  }
}

.modal-dialog {
  position: relative;
  width: 80%;
  max-width: 320px;
  animation: zoom-out .2s ease-out;

  &.hasTitle {
    .modal-content {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.modal-header {
  .flex-v-center();
  justify-content: space-between;
  background-color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

.modal-close {
  position: absolute;
  padding: 10px;
  right: 0;
  top: 0;

  .icon {
    vertical-align: top;
  }
}

.modal-footer {
  padding-top: 10px;

  > view {
    .flex-center();
  }

  .button {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@keyframes zoom-out {
  0% {
    opacity: .3;
    transform: translateY(20%) scale(1.1);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes zoom-out {
  0% {
    opacity: .3;
    transform: translateY(20%) scale(1.1);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
