@import "../../styles/mixin";

.gotop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  .animation(fade-in .3s linear);

  &-inner {
    .flex-center();
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
  }
}
