@import "../../styles/mixins/common";

.notice {
  .flex-v-center();
  padding: 5px 10px;
  background-color: #fff;
}

.notice-messages{
  flex: 1;
  height: 30px;
  overflow: hidden;
}

.notice-item {
  .flex-v-center();
  height: 30px;
}
